body{
    margin: 0;
    padding: 0;
    background-color: #000;
}

.header{
    margin: 40px 200px;
}

.header-title{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: -36px;
}

.front{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 350px;
    transition: all 0.3s;
}

.front:hover{
    text-decoration: underline;
    color: #46a1eb;
    transition: all 0.3s;
}

.back{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 60px;
    transition: all 0.3s;
}

.back:hover{
    text-decoration: underline;
    color: #46a1eb;
    transition: all 0.3s;
}

.full{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 60px;
    transition: all 0.3s;
}

.full:hover{
    text-decoration: underline;
    color: #46a1eb;
    transition: all 0.3s;
}



.web{
    margin: 40px 200px;
}

.title{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.text{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    padding-top: 40px;
}

.sep{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

.typef{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;

    transition: all 0.3s;
}

.typef:hover{
    text-decoration: underline;
    color: #46a1eb;
}

.typeb{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 300px;

    transition: all 0.3s;
}

.typeb:hover{
    text-decoration: underline;
    color: #46a1eb;
}

.typel{
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 300px;

    transition: all 0.3s;
}

.typel:hover{
    text-decoration: underline;
    color: #46a1eb;
}